<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/style.css">
<body>
     <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>
        
        <!-- thẻ a tương ứng với method get -->
     </div>    

     <div class="table-container">
      
      <!-- cú pháp của ejs -->
      <!-- JSON.stringify(listUsers) để in ra danh sách dữ liệu user (nếu chỉ có listUsers ko thì sẽ ko hiện vì nó ko là string) -->
      <div class = "title">List user</div>
      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Action</th>
        </tr>
        <!-- <% for (let i = 0; i < listUsers.length; i++) { %>
          
        <% } %> -->
        <% listUsers.forEach(function(user) { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.name %></td>
            <td><%= user.city %></td>
            <td>
              <!-- // truyền thêm tham số để hệ thống biết sửa cái nào -->
              <a href="/update/<%= user.id %>">Edit</a> |
              <button >Delete</button>
            </td>
          </tr>
        <% }); %>
      </table>
     </div>

</body>   
        
      
      
</head>

</html>